<br />
<h1>Say Hello to My Golden</h1>
<h3>His name is Zeus</h3>
<br />
<br />
<div>
  <%= image_tag 'zeusy.jpg'%>
</div>
<br />
<p>
  <%= 'I just love my golden retriver, isn\'t he the cuttest!' %>
</p>