h1 {
  color: rgb(18, 128, 179);
  text-shadow: rgba(22, 21, 21, 0.95) 2px 2px;
  margin:auto;
  padding:10px;
}
body {
  background: rgb(212, 179, 128);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}